* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2vw 10vw;
    justify-content: space-between;
}

.nav-part2 {
    display: flex;
    gap: 2rem;
}

.nav-part2 h4 {
    font-size: 0.76vw;
    text-transform: uppercase;
    font-weight: 400;
}

nav:hover #nav-bottom {
    height: 100%;
    bottom: -100%;
}

/* nav button{
    padding: 15px 25px;
    background-color: #0ba34e ;
    border-radius: 50px;
    border: 1px solid white; 
} */
/* nav:hover .nav-bottom{
    height: 100%;
    bottom: -100%;
    /* background-color: red; 
} */
#nav-bottom {
    /* background-color: red; */
    height: 0;
    width: 79%;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #dadada;
    transition: 0.6s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.page1 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 12vh;
}

.page1 h1 i {
    font-size: 30px;
    padding: 35px;
    border-radius: 50%;
    margin: 5px;
    /* background-color: #2ad549;  */
    /* height: 10px; */
    /* width: 5vw;  */
    background-color: #0ba34e;
    /* height: 50px; */
}

.page1 p {


    text-align: center;
    margin-top: 5rem;
}

.page1-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1-button h4 {
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-top: 20px;
    /* margin-left: 2px;
     */
    margin-right: 5px;
}

.page1-button h4:nth-last-child(2) {
    border: none;
}

.page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}